<html>
	<head>
	</head>
<body>

  <h3>Text Detection Results</h3>

  <% results.forEach(function(result){ %>

    <%= result.engine %>:<br> 
    <%= result.detectedText %><br> 
    <br> 
    
  <% })%>

</body>
</html>